<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.problemio.quiz.mapper.QuizLikeMapper">

    <insert id="insertQuizLike" parameterType="com.problemio.quiz.domain.QuizLike">
        INSERT INTO quiz_likes (user_id, quiz_id, created_at)
        VALUES (#{userId}, #{quizId}, #{createdAt})
    </insert>

    <delete id="deleteQuizLike">
        DELETE FROM quiz_likes WHERE user_id = #{userId} AND quiz_id = #{quizId}
    </delete>

    <delete id="deleteByQuizId">
        DELETE FROM quiz_likes WHERE quiz_id = #{quizId}
    </delete>

    <select id="findByUserIdAndQuizId" resultType="com.problemio.quiz.domain.QuizLike">
        SELECT user_id AS userId, quiz_id AS quizId, created_at AS createdAt
        FROM quiz_likes
        WHERE user_id = #{userId} AND quiz_id = #{quizId}
    </select>

    <select id="countByQuizId" resultType="int">
        SELECT COUNT(*) FROM quiz_likes WHERE quiz_id = #{quizId}
    </select>

    <delete id="deleteByUserId">
        DELETE FROM quiz_likes
        WHERE user_id = #{userId}
    </delete>

    <select id="findQuizIdsByUserId" resultType="long">
        SELECT quiz_id
        FROM quiz_likes
        WHERE user_id = #{userId}
    </select>

</mapper>
