<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.problemio.user.mapper.UserAuthMapper">
    <!--    Id로 찾기-->
    <select id="findById" resultType="com.problemio.user.domain.User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <!--  이메일 검색  -->
    <select id="findByEmail" resultType="com.problemio.user.domain.User">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <!--  닉네임 검색  -->
    <select id="findByNickname" resultType="com.problemio.user.domain.User">
        SELECT *
        FROM users
        WHERE nickname = #{nickname}
    </select>

    <!--  회원가입  -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email,
                           password_hash,
                           nickname)
        VALUES (#{email},
                #{passwordHash},
                #{nickname})
    </insert>


</mapper>